#container-anatomia {
    position: absolute;
    top:1100%;
    width: 100%;
    left: 1.5em;
}

.first-row-4 {
    margin-bottom: 0.1em;
    line-height: 2.5em;
}

.ondine_rosa {
    width: 85pt;
    margin-bottom: 1em;
}

.anatomia-titolo{
    font-family: "Futura", "Gill Sans", "Montserrat", sans-serif;
    font-size: 2.3em;
}

.green{
color: #0e9594;
}

#anatomia_foto {
    max-width: 100%;
}
.anatomia-text {
    padding: 1em;
}
.anatomia-text-title {
    font-weight: bold;
    font-size: 1.4em;
}
