    html{
    scroll-behavior: smooth
    }

    .hide {
        display:none;
    }

    #my-logo {
        height: 24em;
        text-align: center;
    }
    #abcdef {
        height:15em;
        text-align: center;
    }

    #anatomia-parte-uno {
        height: 32em;
        text-align: center;
    }
    #anatomia-parte-due {
        height: 48em;
        text-align: center;
    }
    .space {
        height: 5em;
    }
    .space-2 {
        height:10em;
    }

@media (max-width:767px) {
    #mob-cap-01{
        font-size:45pt;
    }
    #mob-cap-02{
         font-size:45pt;
    }
    #mob-cap-03{
         font-size:45pt;
    }
    #mob-cap-04{
         font-size:45pt;
    }
    #mob-cap-05{
         font-size:45pt;
    }
    #mob-cap-06{
         font-size:45pt;
    }
    #la{
        font-size:26pt;
     }
    #abcdef {
        height:4.8em;
    }
    #afgx {
        margin-bottom: 1em;
        max-height: 8em;
    }
    #gerarchia{
        height:18em;
        margin-bottom: 2em;
    }
    #allineamento {
        font-size: 2.5em;
    }
    #vedove{
        max-height: 20em;
        padding-top: 2em;
    }
    #traking{
        max-height: 3.6em;
    }
    #layout_arancione{
        max-height:24em;
    }
    #cmyk{
        max-height: 16em;
        margin-left: 3.5em;
        margin-top: 1em;
    }
    #rgb{
          max-height: 16em;
          margin-left: 3.5em;
          margin-top: 1em;
    }
    #sagomato{
           max-height:9em;

    }
    #informazioni {
            font-size: 2.5em;
        }
    #my-logo {
          height: 12em;
          margin-top: 4em;
          margin-left: -14px;
    }
    #anatomia-parte-uno {
            height: 14em;
            margin-left: 1.5em;
    }
    #serigrafia {
         max-height: 13.8em;;
    }
    #fi{
         max-height: 5em;
    }
    #palette{
        max-height: 19em;
    }
    #anatomia-parte-due {
         height: 26em;
         margin-left:2em;
         margin-bottom: 2em;
    }
    #letterpress{
          max-height:15.5em
    }
    #digitale{
           max-height:12em
    }
    #offset{
            max-height:16em
    }
    #offset2{
              max-height:7em
    }
    #footer{
        font-size: 10pt;
    }
    #footer2{
         font-size: 10pt;
    }
    #aldo{
        max-height: 27em;;
    }
    #formattazione {
         font-size: 2.5em;
    }
    #tazione{
         display:inline-block;
    }
    #caratteri-aldo{
          display:inline-block;
    }
    #mostra-caratteri{
          display:inline-block;
    }
    #mostra-caratteri2{
          display:inline-block;
    }
    #mostra-caratteri3{
          display:inline-block;
    }
    #mostra-caratteri4{
           display:inline-block;
    }
    #mostra-caratteri5{
          display:inline-block;
    }
    #mostra-caratteri6{
          display:inline-block;
    }
    #mostra-caratteri7{
           display:inline-block;
    }
    #mostra-caratteri8{
            display:inline-block;
   }
   #mostra-caratteri9{
            display:inline-block;
   }
   #mostra-caratteri10{
             display:inline-block;
   }
   #chi{
          font-size:24pt;
          line-height: 12pt;
   }
   #siamo{
           font-size:24pt;
           line-height: 12pt;
   }
   #cap-layout{
          font-size:24pt;
          line-height: 1em;
    }
    #cap-griglie{
          font-size:24pt;
          line-height: 1em;
    }
    #cap-novarese{
           font-size:24pt;
           line-height: 1em;
    }
    #elementi-griglia{
           font-size:24pt;
           line-height: 1em;
    }
    #elementi-griglia2{
            font-size:24pt;
            line-height: 1em;
    }
    #anatomia2{
           font-size:24pt;
           line-height: 1em;
    }
    #classificazione{
            font-size:24pt;
            line-height: 1em;
     }
    #carattere{
             font-size: 24pt;
             line-height: 1em;
    }
    #font2{
          font-size:24pt;
          line-height: 1.2em;;
    }
    #testo2{
           font-size:24pt;
           line-height: 1.2em;;
    }
    #interlinea{
            font-size:24pt;
             line-height: 0.2em;;
    }
    #mob-lilla-margini{
        font-size:30pt;
        line-height: 1em;
    }
    #mob-lilla-colonne{
         font-size:30pt;
         line-height: 1em;
    }
    #mob-lilla-esempi{
          font-size:30pt;
          line-height: 1em;
    }
    #mob-lilla-anatomia{
           font-size:30pt;
           line-height: 1em;
    }
    #mob-lilla-font{
           font-size:30pt;
           line-height: 1em;
    }
     #mob-lilla-lunghezza{
            font-size:30pt;
            line-height: 0.5em;
     }
     #mob-lilla-colore{
            font-size:35pt;
            line-height: 1em;
     }
     #mob-lilla-stampa{
             font-size:35pt;
             line-height: 1em;
     }
   .puntini{
        max-height:4.5em;
   }
     .mob-pad-right-2 {
            padding-right: 2em;
     }
     .mob-size{
            font-size:14pt;
            font-weight: 600;
     }
     .mob-size-2{
            font-size:16pt;
            line-height: 1em;
     }
     .mob-size-3{
             font-size:16pt;
             line-height:0em;
     }
     .mob-size-4{
             font-size:28pt;
             line-height:0em;
     }
     .mob-size-5{
              font-size:28pt;
     }
     .mob-cose-da-ricordare{
            font-size:20pt;
     }
    .mob-giustificato{
          max-height: 11em;
          padding-top: 0.3em;
    }
    .mob-mar-top-2 {
        margin-top: 2em;
    }
    .mob-mar-top-3 {
         margin-top: 1em;
     }
    .mob-mar-left-2 {
         margin-left: 4em;
    }
    .mob-mar-left-3 {
         margin-left: 0.5em;
    }
    .mob-mar-left-4 {
         margin-left:4em;
         margin-top:2em;
    }
    .mob-rettangolo{
         margin-bottom: 3em;
    }
    .mob-rettangolo-2{
          margin-bottom: 2em;
    }
    .lettere {
          margin:1em;
          margin-left: 8.5em;
    }
    .mob-hidden {
        display: none;
    }
    .mob-margin-1 {
        margin: 1em;
    }
    .mob-margin-2 {
       margin: 5em;
    }
    .mob-margin-3 {
       margin: 2em;
    }
    .mob-margin-4 {
         margin: 3em;
     }
    .mob-space {
        height:3em;
    }
    .mob-space-2 {
         height:4em;
    }
    .mob-space-3 {
          height:0em;
    }
    .mob-space-neg{
        margin-top: -4em;
        }
    .mob-space-neg-2{
        margin-top: -1.8em;
    }
    .mob-space-neg-3{
         margin-top: -3em;
    }
    .mob-space-neg-4{
         margin-top: -6em;
    }
    .mob-space-neg-5{
         margin-top: -8em;
    }

}

 @media (max-width:1680px) {
 .nascondi{
     display:none;
 }

 }


.sfondo{
    background: url("../img/sfondo.portrait1.png");
    background-size: 100%;
    background-attachment: scroll;

}

h1,h2,h3,h4,h5,h6{
    color:#27187e;
}

.titoli-testi{
    color: #aeb8fe;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: -12pt;
}

.titoli-testi-blu{
    color: #27187e;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: -12pt;
}

.titolo-capitolo-blu{
    color: #27187e;
    font-size: 50pt;
    font-weight: bold;
    line-height: 40pt;
}

.titolo-capitolo-lilla{
    color: #aeb8fe;
    font-size: 40pt;
    font-weight: bold;
    line-height: 40pt;
}

.parole-lilla{
    color: #aeb8fe;
    font-size: 18pt;
    font-weight:bold;
}

.titolo-capitolo-blu-regular{
    color: #27187e;
    font-size: 40pt;
    line-height: 20pt;
}

.numero-cap{
    color: #cdd079;
    font-size: 60pt;
    font-weight: bold;
    line-height: 40pt;
}

.numero-capitolo-lilla{
    color: #aeb8fe;
    font-size: 60pt;
    font-weight: bold;
    line-height: 40pt;
}

.titolo-lilla{
    color: #aeb8fe;
    font-size: 60pt;
    font-family: "Bodoni";
    font-style: italic;
}

.paragrafi{
    color: #27187e;
}

.parole-arancioni{
    color:#ff8600;
    font-weight: bold;
}

.parole-verdi{
    color:#cdd079;
    font-weight: bold;
}

.rettangolo{
    background-color: #aeb8fe;
    padding-top: 12px;
    padding-bottom: 16px;
    padding-left: 20pt;
    border-radius: 20px;
    margin-top: 1em;
    box-shadow: 20px 20px 20px rgba(179, 187, 255, 0.4);
}
.img-giustificato{
    height:13em;
}

.gerarchia{
    height:28em;
}
.quadrato{
    background-color: #aeb8fe;
    margin-left: 20;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #dedede;
}

.ombra{
    box-shadow: 20px 20px 20px rgba(230, 230, 230,0.4);
    }

.testo-bianco{
    color: white;
    font-size: 11pt;
}

.testo-italic{
    font-style: italic;
    color:#27187e;
    line-height: 12pt;
    font-size: 18pt;
}

.testo-italic-lilla{
     color: #aeb8fe;
     font-size: 22pt;
     font-family:"Bodoni";
     font-style:italic;
}

.luminosità{
    color: white;
    text-shadow:1px 1px 3px white;
}

.interlinea{
    font-size:20pt;
    text-align:center;
    color: white;
    text-shadow:1px 1px 5px white;
}

.no-padding {
    padding: 0; }

.go-bottom {
    position:absolute;
    bottom:0;
}

.go-top {
    margin-top: -22;
}

.border-radius {
    border-radius: 20px;
 }

 .border-radius-2{
     border-radius: 40px;
  }

.vuoto{
    background-color: rgba(128,128,128,0);
    height:30px;
}
.vuoto-2{
    background-color: rgba(128,128,128,0);
    height:5px;
}

.blu{
    background-color: blue;

}

.rosso{
    background-color: red;
    height:30px;
}

.immagine{
    background-color: pink;
}

.class-caratteri{
    height:100px;
}

/* menù*/
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

